{% extends 'base.html.twig' %}

{% block body %}
    {% for trajet in Trajets %}
        <dl>
            <dt>Départ</dt>
            <dd>{{ trajet.depart.gare }}</dd>

            <dt>Arrivée</dt>
            <dd>{{ trajet.destination.gare }}</dd>

            <dt>Nombre d'arrêts</dt>
            <dd>{{ trajet.arrets|length }}</dd>

            <a href="{{ path('trajets_detail', {id: trajet.id}) }}">Voir le trajet</a>
        </dl>
    {% endfor %}
{% endblock %}
